
a {
    text-decoration: none;
    font-weight: normal;
}
a:hover {
    font-weight: 900;
    font-family: Arial;
}
legend {
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    font-weight: bolder;
    color: red;
}
.direction {
    color: red;
}
fieldset {
    border-width: 0;
}