#pictures {
    float: right;
    width: 40%;
}
.top {
    width:90%;
}
.bottom {
    float:left;
    width: 30%;
}
.rm {
    width: 29%;
    float: left;
    overflow: auto;
    border-width: 0px;
}
h3 {
    color: red;
}
.common {
    overflow: auto;
    width: 95%;
    border-width: 0px;
}
#rmsavl {
    overflow: auto;
    width: 99%;
    border-width: 0px;
}
#options {
    border-width: 0px;
    overflow: auto;
}